[defaults]

inventory = inventory
roles = roles
vars_plugins=plugins/vars

# track some details for each host we connect to
fact_caching = jsonfile
fact_caching_connection = .cache/facts
cache_timeout = 3600

# Mitogen speeds up ansible runs.
# But it requires that your ansible can load the mitogen libraries.
# strategy = mitogen_linear

check_mode_markers = true
# display_skipped_hosts = false
display_ok_hosts = false
show_custom_stats = true

interpreter_python = auto_silent

[inventory]
cache = True
cache_connection = .cache/inventory

[ssh_connection]
pipelining = True
timeout = 60

[diff]
# Always show deployed file diffs
always = True
