# {{ ansible_managed }}
{# first, host vars definitions - eg service accounts -#}
{% if item.value -%}
{%   for name, pass in item.value | dictsort -%}
{{ name }}:{{ pass }}
{%   endfor -%}
{% endif -%}
